.DS_Store
.idea/
.vscode/

**/.env
**/.env.docker
**/.env.*.local

#--------------rails-server------------------
/rails-server/.bundle

/rails-server/log/*
!/rails-server/log/.keep

/rails-server/tmp/*
!/rails-server/tmp/.keep

# Ignore pidfiles, but keep the directory.
/rails-server/tmp/pids/*
!/rails-server/tmp/pids/.keep

# Ignore Active Storage files (local storage)
/rails-server/storage/*
!/rails-server/storage/.keep

# Ignore compiled assets
/rails-server/public/assets

# Ignore sensitive configuration files
/rails-server/config/master.key
/rails-server/config/database.yml

#--------------fire-detection-ai-service------------------
/fire-detection-ai-service/venv/
/fire-detection-ai-service/.venv/

# Python cache files
/fire-detection-ai-service/__pycache__/
/fire-detection-ai-service/*.pyc

# Ignore large model files
*.h5
*.hdf5
#--------------nuxt-client------------------
/nuxt-client/node_modules/
/nuxt-client/.output/
/nuxt-client/.data/
/nuxt-client/.nuxt/
/nuxt-client/.nitro/
/nuxt-client/.cache/
/nuxt-client/dist/
/nuxt-client/logs/
/nuxt-client/*.log
